/* Employees component styles */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f5f5f5;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

.photo-cell img {
  max-width: 15px;
  max-height: 15px;
  object-fit: cover;
  border-radius: 50%;
}

.edit-delete-cell {

}

.edit-button {
  background-color: #3c5c40;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #723b37;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #29a838;
}

.delete-button:hover {
  background-color: #d32f2f;
}
